
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{

    <link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" />
<link href="~/Content/css/ace.css" rel="stylesheet" />
<link href="~/Content/css/ace-fonts.css" rel="stylesheet" />
<link href="~/Content/css/ace-ie.css" rel="stylesheet" />
<link href="~/Content/css/jquery.multiselect.css" rel="stylesheet" />
<link href="~/Content/css/jquery.multiselect.filter.css" rel="stylesheet" />
<link href="~/Content/css/jquery.gritter.css" rel="stylesheet" />
}
<div class="main-content">
    <div class="main-content-inner">
        <!-- #section:basics/content.breadcrumbs -->
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@Url.Action("Index", "Home")">INICIO</a>
                </li>

                <li>
                    <a href="javascript:void(0)">PROCESO</a>
                </li>
                <li class="active">CAMPAÑA</li>
            </ul><!-- /.breadcrumb -->
            <!-- /section:basics/content.searchbox -->
        </div>

        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <!-- #section:settings.box -->
            <!-- /section:settings.box -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="widget-box">
                        <div class="widget-header widget-header-blue widget-header-flat hide">
                            <h4 class="widget-title">CAMPAÑA</h4>

                            <div class="widget-toolbar">
                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <!-- #section:plugins/fuelux.wizard -->
                                <div id="fuelux-wizard-container">
                                    <div>
                                        <!-- #section:plugins/fuelux.wizard.steps -->
                                        <ul class="steps">
                                            <li data-step="1" class="active">
                                                <span class="step">1</span>
                                                <span class="title">Modalidad</span>
                                            </li>

                                            <li data-step="2">
                                                <span class="step">2</span>
                                                <span class="title">Diplomado de especialización</span>
                                            </li>

                                            <li data-step="3">
                                                <span class="step">3</span>
                                                <span class="title">Cursos Tecnicos</span>
                                            </li>
                                            <li data-step="4">
                                                <span class="step">4</span>
                                                <span class="title">Campaña</span>
                                            </li>
                                        </ul>

                                        <!-- /section:plugins/fuelux.wizard.steps -->
                                    </div>

                                    <hr />

                                    <!-- #section:plugins/fuelux.wizard.container -->
                                    <div class="step-content pos-rel">
                                        <div class="step-pane active" data-step="1">
                                            <form class="form-horizontal" id="frmTitular" method="post">
                                                <!--<div class="form-group"></div>-->

                                                <div class="form-group margin-bottom-8">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="DniTitular"></label>

                                                    <div class="col-xs-12 col-sm-5">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input name="Diplomado" id="Diplomado" type="checkbox" class="ace ace-checkbox-2">
                                                                <span class="lbl"> DIPLOMADOS DE ESPECIALIZACION</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                               

                                                <div class="form-group margin-bottom-8">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="TitularApellidos"> </label>

                                                    <div class="col-xs-12 col-sm-5">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input name="curso" id="curso" type="checkbox" class="ace ace-checkbox-2">
                                                                <span class="lbl">CURSO SUPERIOR </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="TitularId" value="0" />

                                            </form>
                                        </div>

                                        <div class="step-pane" data-step="2">
                                            <form class="form-horizontal" id="frmBeneficiario" method="post">
                                              

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="BeneficiarioNombres">Nombres </label>

                                                    <div class="col-xs-12 col-sm-8">
                                                        <div class="clearfix">
                                                            <input type="text" id="BeneficiarioNombres" name="BeneficiarioNombres" placeholder="Nombres" maxlength="100" class="col-xs-12 col-sm-12" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="BeneficiarioApellidos">Apellidos </label>

                                                    <div class="col-xs-12 col-sm-8">
                                                        <div class="clearfix">
                                                            <input type="text" id="BeneficiarioApellidos" name="BeneficiarioApellidos" placeholder="Apellidos" maxlength="100" class="col-xs-12 col-sm-12" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="BeneficiarioNumeroDocumento">N&uacute;mero Documento </label>

                                                    <div class="col-xs-12 col-sm-8">
                                                        <div class="clearfix">
                                                            <input type="text" id="BeneficiarioNumeroDocumento" name="BeneficiarioNumeroDocumento" placeholder="N&uacute;mero Documento" maxlength="12" class="col-xs-12 col-sm-12" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="BeneficiarioCorreoElectronico">Correo </label>

                                                    <div class="col-xs-12 col-sm-8">
                                                        <div class="clearfix">
                                                            <input type="text" id="BeneficiarioCorreoElectronico" name="BeneficiarioCorreoElectronico" placeholder="Correo " maxlength="100" class="col-xs-12 col-sm-12" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="BeneficiarioCorreoElectronico">Especialización </label>

                                                    <div class="col-xs-12 col-sm-8">
                                                        <select multiple="" id="state" name="state" class="select2 select2-container-multi" data-placeholder="Click to Choose..." style="width: 200px;" tabindex="-1" aria-hidden="true">
                                                            <option value="AL">Alabama</option>
                                                            <option value="AK">Alaska</option>
                                                            <option value="AZ">Arizona</option>
                                                            <option value="AR">Arkansas</option>
                                                            <option value="CA">California</option>
                                                            <option value="CO">Colorado</option>
                                                            <option value="CT">Connecticut</option>


                                                        </select>
                                                    </div>
                                                </div>

                                                <hr />

                                            </form>
                                            <input type="hidden" id="BeneficiarioId" value="0" />
                                        </div>

                                        <div class="step-pane" data-step="3">
                                            <form class="form-horizontal" id="frmCanje" method="post">
                                                <div class="form-group"></div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="TipoProductoId">Tipo Producto </label>

                                                    <div class="col-xs-12 col-sm-8">
                                                        <div class="clearfix">
                                                            <select id="TipoProductoId" name="TipoProductoId" class="col-xs-12 col-sm-12"></select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ValeId">Vale </label>

                                                    <div class="col-xs-12 col-sm-8">
                                                        <div class="clearfix">
                                                            <select id="ValeId" name="ValeId" class="col-xs-12 col-sm-12"></select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="FechaCaducidad">V&aacute;lido Hasta </label>

                                                    <div class="col-xs-12 col-sm-8">
                                                        <div class="clearfix">
                                                            <input type="text" id="FechaCaducidad" name="FechaCaducidad" placeholder="Fecha Caducidad" maxlength="10" class="col-xs-12 col-sm-12 date-picker" data-date-format="dd-mm-yyyy" disabled="disabled" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>

                                    <!-- /section:plugins/fuelux.wizard.container -->
                                </div>


                                <div class="wizard-actions">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button class="btn btn-prev">
                                        <i class="ace-icon fa fa-arrow-left"></i>
                                        Anterior
                                    </button>

                                    <button class="btn btn-success btn-next" data-last="Canjear">
                                        Siguiente
                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                    </button>

                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                                <!-- /section:plugins/fuelux.wizard -->
                            </div><!-- /.widget-main -->
                        </div><!-- /.widget-body -->
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

@section scripts{
    <!-- page specific plugin scripts -->
    <script src="@Url.Content("~/Content/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.dataTables.fnReloadAjax.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Content/js/additional-methods.js")"></script>
    <script src="@Url.Content("~/Content/js/fuelux/fuelux.wizard.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.gritter.js")"></script>
<script src="~/Content/js/ace/elements.typeahead.js"></script>
<script src="~/Content/js/jquery.multiselect.js"></script>
<script src="~/Content/js/jquery.multiselect.filter.js"></script>
    <!-- inline scripts related to this page -->
    <script src="@Url.Content("~/Content/js/viewsJs/Campana.js")"></script>

    <!-- Ajax BlockUi scripts -->
    <script type="text/javascript">
	        var pageBlocked = false;
	        var handlerActivo = false;

	        $(document).ready(function () {
	            $.blockUI.defaults.baseZ = 100000;
	            $.blockUI.defaults.overlayCSS.opacity = 0.4;
	            $.blockUI.defaults.css.backgroundColor = "transparent";
	            $.blockUI.defaults.css.border = '0px none';
	            $.blockUI.defaults.fadeIn = 100,
	            $.blockUI.defaults.fadeOut = 100,

	            $(document).ajaxSend(function () {
	                if (!pageBlocked) {
	                    $.blockUI({
	                        message: "Espere un momento por favor",
	                        css: {
	                            border: 'none',
	                            padding: '15px',
	                            backgroundColor: '#000',
	                            '-webkit-border-radius': '10px',
	                            '-moz-border-radius': '10px',
	                            opacity: 1,
	                            color: '#fff'
	                        },
	                        onBlock: function () {
	                            pageBlocked = true;
	                        }
	                    });
	                }
	            }).ajaxStop(function () {
	                jQuery.unblockUI();
	                pageBlocked = false;
	            });

           });
    </script>
}