
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.dataTables.css")" />
}
<!-- /section:basics/sidebar -->
<div class="main-content">
    <div class="main-content-inner">
        <!-- #section:basics/content.breadcrumbs -->
        <link href="~/Content/css/custom.css" rel="stylesheet" />
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@Url.Action("Index", "Home")">INICIO</a>
                </li>

                <li>
                    <a href="javascript:void(0)">ADMINISTRACI&Oacute;N</a>
                </li>
                <li class="active">REGISTRO</li>
                <li class="active">TABLAS DE OPCIONES</li>
            </ul><!-- /.breadcrumb -->
            <!-- /section:basics/content.searchbox -->
        </div>

        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <!-- #section:settings.box -->
            <!-- /section:settings.box -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="search-area well no-margin-bottom" >
                        <form id="TablaSearchForm" role="form">
                            <div class="row">
                                <div class="col-md-7" >
                                    <div class="input-group">

                                        <input type="text" class="form-control" name="Codigosearch" id="Codigosearch" placeholder="Codigo">
                                        <div class="input-group-btn">

                                        </div>
                                        <input type="text" class="form-control" name="Descripcionsearch" id="Descripcionsearch" placeholder="Descripción">
                                        <div class="input-group-btn">
                                            <button type="button" id="btnSearchTabla" class="btn btn-success btn-sm">
                                                <i class="ace-icon fa fa-search icon-on-right bigger-110 right"></i>Buscar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container">
                                        <div class="dt-buttons btn-overlap btn-group">
                                            <a id="btnAgregarTabla" data-toggle="tooltip" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Nuevo">
                                                <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
                                            </a>

                                            <a id="btnEditarTable" data-toggle="tooltip" class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Editar">
                                                <span><i class="fa fa-pencil bigger-110 pink"></i> </span>
                                            </a>
                                            <a id="btnEliminarTable" data-toggle="tooltip" class="dt-button buttons-csv buttons-html5 btn btn-white btn-primary btn-bold hidden" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Eliminar">
                                                <span><i class="fa fa-trash-o bigger-110 orange"></i></span>
                                            </a>
                                            <a id="btnaccesoTable" data-toggle="tooltip" class="dt-button buttons-print btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Detalle de tabla">
                                                <span><i class="fa fa-newspaper-o bigger-110 grey"></i> </span>
                                            </a>
                                            <a id="btprint" data-toggle="tooltip" class="dt-button buttons-print btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Imprimir">
                                                <span><i class="fa fa-print bigger-110 grey"></i> </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
              
                        </form>
                        
                    </div>
                    <br />

                    <div class="col-xs-12">
                        <div class="table-header">
                            Resultado " Tablas de opciones "
                        </div>
                        <div class="dataTables_wrapper form-inline no-footer">
                            <div class="table-responsive">
                                <table id="TablaDataTable" class="table table-bordered dataTable no-footer" cellspacing="0" role="grid" aria-describedby="dynamic-table_info">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th class="hidden-120 center">Codigo</th>
                                            <th class="hidden-120">Descripci&oacute;n</th>
                                            <th class="hidden-480">Estado</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <!-- FILTER BEGINS-->
            <!-- FILTER ENDS-->

            <div id='NuevoTabla' tabindex='-1' role='dialog' aria-hidden='true' class='modal fade' data-backdrop='static' style='z-index:100000;'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class='modal-header'>
                            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class='modal-title'><span id='accionTitle'></span> Tabla</h4>
                        </div>
                        <div class='modal-body'>
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <form class="form-horizontal" role="form" id="TablaForm">
                                        <div class="form-group"></div>
                                        <!-- #section:elements.form -->

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="Usuario">Codigo </label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" id="codigo" autocomplete="off" name="codigo" placeholder="Codigo" maxlength="3" class="col-xs-12 col-sm-12" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="Nombre">Descripci&oacute;n </label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" id="descripcion" autocomplete="off" name="descripcion" placeholder="Descripción" maxlength="100" class="col-xs-12 col-sm-12" />
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="TablaId" id="TablaId" value="0" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class='modal-footer' style='margin-top: 0px; margin-bottom: 0px;'>
                            <button class='btn btn-danger' data-dismiss='modal'><i class='fa fa-remove'></i> Cancelar</button>
                            <button class='btn btn-success' id="btnGuardarTabla"><i class='fa fa-floppy-o'></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div id='DetalleTabla' tabindex='-1' role='dialog' aria-hidden='true' class='modal fade' data-backdrop='static' style='z-index:100000;'>
                <div class='modal-dialog pasos'>
                    <div class='modal-content'>
                        <div class='modal-header'>
                            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class='modal-title'><span id="accionTitleDetalle"></span> detalle de tabla registro <span id="idtable"></span></h4>
                        </div>
                        <div class='modal-body'>
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <br />
                                    <div class="col-xs-11-97">
                                        
                                        <div class="search-area well no-margin-bottom" style="margin-left:10px;">
                                            <form id="TablaDetalleSearchForm" role="form">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="input-group">

                                                            <input type="text" class="form-control" name="CodigoDetallesearch" id="CodigoDetallesearch" placeholder="Codigo">
                                                            <div class="input-group-btn">

                                                            </div>
                                                            <input type="text" class="form-control" name="DescripcionDetallesearch" id="DescripcionDetallesearch" placeholder="Descripción">
                                                            <div class="input-group-btn">
                                                                <button type="button" id="btnSearchTablaDetalle" class="btn btn-success btn-sm">
                                                                    <i class="ace-icon fa fa-search icon-on-right bigger-110 right"></i>Buscar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix">
                                      
                                                                <a id="btnAgregarTablaDetalle" data-toggle="tooltip" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Nuevo">
                                                                    <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
                                                                </a>

                                                                <a id="btnEditarTablaDetalle" data-toggle="tooltip" class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Editar">
                                                                    <span><i class="fa fa-pencil bigger-110 pink"> </i> </span>
                                                                </a>
                                                                <a id="btnEliminarTablaDetalle" data-toggle="tooltip" class="dt-button buttons-csv buttons-html5 btn btn-white btn-primary btn-bold " tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Eliminar">
                                                                    <span><i class="fa fa-trash-o bigger-110 orange"></i></span>
                                                                </a>
                                                       
                                                      
                                                    </div>
                                                </div>                                        
                                            </form>
                                        </div>
                                        <!-- PAGE CONTENT BEGINS -->
                                        <br />
                         
                                        <div class="table-header" style="margin-left:10px;">
                                            Resultado detalle de tabla -  <span id="nombreTabla"></span>
                                        </div>
                                        <div class="dataTables_wrapper form-inline no-footer" style="margin-left:10px;">
                                            <div class="table-responsive">
                                                <table id="TablaDetalleDataTable" class="table table-bordered dataTable no-footer" cellspacing="0" role="grid" aria-describedby="dynamic-table_info">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th class="hidden-120 center">Codigo</th>
                                                            <th class="hidden-120">Descripci&oacute;n</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                            

                          
                                </div>
                            </div>
                        </div>
                        <div class='modal-footer' style='margin-top: 0px; margin-bottom: 0px;'>
                            <button class='btn btn-danger' data-dismiss='modal'><i class='fa fa-close'></i> Salir</button>
                            <button class='btn btn-success hidden' id="btnGuardarTipodocumento"><i class='fa fa-floppy-o'></i> Guardar</button>

                        </div>
                    </div>
                </div>
                </div>

            <div id='NuevoTablaDetalle' tabindex='-1' role='dialog' aria-hidden='true' class='modal fade' data-backdrop='static' style='z-index:100000;'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class='modal-header'>
                            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class='modal-title'><span id='accionTitleTablaDetalle'></span> detalle</h4>
                        </div>
                        <div class='modal-body'>
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <form class="form-horizontal" role="form" id="TablaDetalleForm">
                                        <div class="form-group"></div>
                                        <!-- #section:elements.form -->

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="Usuario">Codigo </label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" id="codigoDetalle" autocomplete="off" name="codigoDetalle" placeholder="Codigo" maxlength="3" class="col-xs-12 col-sm-12" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="Nombre">Descripci&oacute;n </label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" id="descripcionDetalle" autocomplete="off" name="descripcionDetalle" placeholder="Descripción" maxlength="100" class="col-xs-12 col-sm-12" />
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="TablaDetalleId" id="TablaDetalleId" value="0" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class='modal-footer' style='margin-top: 0px; margin-bottom: 0px;'>
                            <button class='btn btn-danger' data-dismiss='modal'><i class='fa fa-remove'></i> Cancelar</button>
                            <button class='btn btn-success' id="btnGuardarTablaDetalle"><i class='fa fa-floppy-o'></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal-print-tabla" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class='modal-title'><span id='print'></span> Imprimir</h4>
                        </div>
                        <div class="modal-body">
                            <div id="divReport"></div>
                        </div>
                    </div>
                </div>
            </div>

            </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts{
    <!-- page specific plugin scripts -->
    <script src="@Url.Content("~/Content/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.dataTables.fnReloadAjax.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.inputlimiter.1.3.1.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Content/js/additional-methods.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.gritter.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/Content/js/bootbox.js")"></script>

    <!-- inline scripts related to this page -->
    <script src="@Url.Content("~/Content/js/viewsJs/TablaRegistro.js")"></script>
    <!-- Ajax BlockUi scripts -->
    <script type="text/javascript">
        var pageBlocked = false;
        var handlerActivo = false;

        $(document).ready(function () {
            $.blockUI.defaults.baseZ = 100000;
            $.blockUI.defaults.overlayCSS.opacity = 0.4;
            $.blockUI.defaults.css.backgroundColor = "transparent";
            $.blockUI.defaults.css.border = '0px none';
            $.blockUI.defaults.fadeIn = 100,
            $.blockUI.defaults.fadeOut = 100,

            $(document).ajaxSend(function () {
                if (!pageBlocked) {
                    $.blockUI({
                        message: "Espere un momento por favor",
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: 1,
                            color: '#fff'
                        },
                        onBlock: function () {
                            pageBlocked = true;
                        }
                    });
                }
            }).ajaxStop(function () {
                jQuery.unblockUI();
                pageBlocked = false;
            });

        });
    </script>

}




