<!-- #section:basics/sidebar -->



<div id="sidebar" class="sidebar                  responsive                    ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
    <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts" style="background-color:#438EB9">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large"style="background-color:#438EB9">
            <ul class="breadcrumb" >
                <li style="width:80px;">
                    <i class="ace-icon fa  fa-cog home-icon"></i>
                    <a href="#">PANEL</a>
                </li>
            </ul>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" style="top: 0px;">
@if (WebSession.Usuario != null)
{
    if (WebSession.Usuario.RolId == ConstantesWeb.RolAdministrador)
    {
        <li class="active">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">
                    Administraci&oacute;n
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu nav-hide" style="display: none;">
                <li class="">
                    <a href="@Url.Action("Index", "Usuario")">
                        <i class="menu-icon fa fa-caret-right"></i>

                        Usuario
                        <b class="arrow"></b>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Accesos
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Permisos
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-right"></i>
                  Parametros de sistema
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-hospital-o"></i>
                <span class="menu-text"> Almacen </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Productos
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Almacenes
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Nota ingreso
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Nota salida
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Guias remici&oacute;n
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Control stock
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Devoluci&oacute;n mercaderia
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Invetario
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text"> Compras </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Proveedores
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Nota credito
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Compras fecha
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Documento por pagar
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Adelantos
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Cuentas proveedor
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>


        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bullhorn"></i>
                <span class="menu-text"> Ventas </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Clientes
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Facturaci&oacute;n
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Boleta
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Nota de credito
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Ventas
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Documento por pagar
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Adelantos
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Cuentas de cliente
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-briefcase"></i>

                <span class="menu-text">
                   Caja
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Caja
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Pagos de proveedor
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Cobros de cliente
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Ingresos egresos
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Estados de cuenta
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-left"></i>
                        Documento por cobrar
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    }
}
    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-save-state ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
                    try{ace.settings.check('sidebar' , 'collapsed')
                }catch(e){}
    </script>
</div>