


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.tagsinput.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/custom.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/css/uploadify.css")" />
}
<!-- /section:basics/sidebar -->
<div class="main-content">
    <div class="main-content-inner">
        <!-- #section:basics/content.breadcrumbs -->
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@Url.Action("Index", "Home")">INICIO</a>
                </li>

                <li>
                    <a href="javascript:void(0)">ENVI&Oacute; DE CORREOS</a>
                </li>
                @*<li class="active">ENVI&Oacute; DE CORREOS</li>*@
            </ul><!-- /.breadcrumb -->
            <!-- /section:basics/content.searchbox -->
        </div>

        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <!-- #section:settings.box -->
            <!-- /section:settings.box -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="page-header">
                        <h1>
                            ENVI&Oacute; DE CORREOS
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                Realice envios masivos de correos 
                            </small>
                        </h1>
                    </div><!-- /.page-header -->

                    <div class="row">
                        <div class="col-xs-12">

                            <!-- PAGE CONTENT BEGINS -->
                           
                                <form class="form-horizontal" role="form" id="CargaFormMasiva" enctype="multipart/form-data">
                                    <!-- #section:elements.form -->

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Archivo">Archivo </label>

                                        <div class="col-sm-5">
                                            <div class="clearfix">

                                                <div id="fuCargaFileLocal-queue" class="col-xs-12 col-sm-10 mobile no-padding-left">
                                                    <div id="fuCargaFileLocal_SWFUpload" class="uploadify-queue-item">
                                                        <span class="ace-file-name"><i class="ace-icon fa fa-upload"></i> Sin Archivo ...</span>
                                                        <div class="uploadify-progress">
                                                            <div class="uploadify-progress-bar"><!--Progress Bar--></div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a id="linkUpload" href="#"><div class="icono-upload"><img class="upload" src="Content/images/upload.png"></div></a>
                                                <div class="hide">
                                                    <input id="fuCargaFileLocal" name="fuCargaFileLocal" type="file" class="fuCargaFileLocal" />
                                                    <input type="hidden" name="FileCarga" id="FileCarga" value="">
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="CantidadAmarillo"> Correo </label>

                                        <div class="col-sm-9">
                                            <input type="text" id="Correo" name="Correo" placeholder="Correo" maxlength="9" class="col-xs-10 col-sm-5" />
                                        </div>
                                    </div>

                            
                                </form>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-success" type="button" id="btnGuardarAlerta">
                                        <i class="ace-icon fa fa-envelope bigger-110"></i>
                                        Enviar
                                    </button>
                                    <button class="btn btn-primary" type="button" id="btnGuardarCargaMasiva">
                                        <i class="ace-icon fa fa-cloud-upload bigger-110"></i>
                                        Cargar
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" name="AlertaId" id="AlertaId" value="0" />
                        </div>
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

@section scripts{
    <!-- page specific plugin scripts -->
    <script src="@Url.Content("~/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Content/js/additional-methods.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.gritter.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.tagsinput.js")"></script>

    <!-- inline scripts related to this page -->
    <script src="@Url.Content("~/Content/js/viewsJs/EnvioEmail.js")"></script>

    <!-- Ajax BlockUi scripts -->
    <script type="text/javascript">
	        var pageBlocked = false;
	        var handlerActivo = false;

	        $(document).ready(function () {
	            $.blockUI.defaults.baseZ = 100000;
	            $.blockUI.defaults.overlayCSS.opacity = 0.4;
	            $.blockUI.defaults.css.backgroundColor = "transparent";
	            $.blockUI.defaults.css.border = '0px none';
	            $.blockUI.defaults.fadeIn = 100,
	            $.blockUI.defaults.fadeOut = 100,

	            $(document).ajaxSend(function () {
	                if (!pageBlocked) {
	                    $.blockUI({
	                        message: "Espere un momento por favor",
	                        css: {
	                            border: 'none',
	                            padding: '15px',
	                            backgroundColor: '#000',
	                            '-webkit-border-radius': '10px',
	                            '-moz-border-radius': '10px',
	                            opacity: 1,
	                            color: '#fff'
	                        },
	                        onBlock: function () {
	                            pageBlocked = true;
	                        }
	                    });
	                }
	            }).ajaxStop(function () {
	                jQuery.unblockUI();
	                pageBlocked = false;
	            });

           });
    </script>
}


